.btn{
    border: 0;
    outline: 0;
    padding: 0;
    font-size: 1.6rem;
}
.btn--edit{
    color: green;
}
.btn--delete{
    color: red;
}
.bilgi{
    margin: 1rem 0;
    padding: .8rem;
    border-radius: 4px;
    color: black;
    opacity: 0;
    transition: .3s ease-out;
}
.bilgi--success{
    opacity: 1;
    border: 1px solid green;
    color: green;
}
.bilgi--error{
    opacity: 1;
    border: 1px solid red;
    color: red;
}

.fa-solid{
    pointer-events: none;
}